*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
*.pyc

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath
data/*

.DS_Store

ImportArxiv/MetaImport.CL/MetaHarvester.py

ImportArxiv/BucketControl/extraction_queue.txt
