*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
*.pyc

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath
data/*

# marks local test data, just in case I try to push 50gb to the repo...
pipeline/pmcoa/*
pipeline/medline/*
pipeline/workdir/*

.DS_Store

ImportArxiv/MetaImport.CL/MetaHarvester.py

ImportArxiv/BucketControl/extraction_queue.txt

Importer/Parse.py

Importer/_Parse.py

Importer/_OldMetaData.py
